# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/
venv/
env/

# Playwright
test-results/
playwright-report/
blob-report/

# Reports
reports/
allure-results/
allure-report/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db